<section
  class="page-banner"
  style="background-image: url('https://www.eduplana.com/images/students.jpg')"
>
  <div class="title">About Us</div>
</section>

<section class="event" style="padding: 3rem 0;">
  <div class="container">
    <div class="event-wrap">
      <div class="image">
        <img src="images/intern.svg" alt="" />
      </div>
      <div class="content">
        <div class="title">Education Planning and Funding Advocacy</div>
        <div class="text">
          <p>
            Eduplana is a civic tech organization that uses data to advocate for quality education in Nigeria. We believe every citizen should have equal access to quality education with no bias on their location or status in Nigeria.
          </p>
          <p style="margin-bottom: 0">
            Our goal is to improve accountability and transparency in Nigeria’s education sector by encouraging both the federal government and state governments to develop an education plan that enables them to invest and improve education quality for their citizens.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content no-bottom" style="padding-bottom: 4rem;">
  <div class="container">
    <div class="sub-title" style="font-size: 19px; font-weight: 800">
      Eduplana Platform
    </div>
    <p>
      An online advocacy platform that addresses education mismanagement gaps in the education sector through data analysis, data visualization and publishing education reports. Our advocacy work covers education funding, teachers’ development, education policy implementation, learning facilities, learning outcomes etc.
    </p>
  </div>
</section>

