
<div class="filter">
  <div class="container">
    <label for="filter">Filter by:</label>
    <input type="text" id="filter" placeholder="Filter Documents">
  </div>
</div>
<section class="gallery-wrap" style="padding: 3rem 0">
  <div class="container">
    <div class="gallery">
      <a class="img-wap" data-fancybox="pdf" href="pdf/2022 Education Budget extracted.pdf">
        <div class="img" style="background-image: url('images/pdfLogo.png'); background-size: contain;"></div>
        <span class="description">
          <span class="title">2022 Education Budget</span>
          <span class="date">Jan 20, 2022</span>
        </span>
      </a>

      <a class="img-wap" data-fancybox="pdf" href="pdf/Bad Classrooms in Nigeria (Analysis Infographics).pdf">
        <div class="img" style="background-image: url('images/pdfLogo.png'); background-size: contain;"></div>
        <span class="description">
          <span class="title">Bad Classrooms in Nigeria (Analysis Infographics)</span>
          <span class="date">Nov 17, 2021</span>
        </span>
      </a>

      <a class="img-wap" data-fancybox="pdf" href="pdf/COMPARATIVE BASIC EDUCATION DATASET (Anambra State).pdf">
        <div class="img" style="background-image: url('images/pdfLogo.png'); background-size: contain;"></div>
        <span class="description">
          <span class="title">COMPARATIVE BASIC EDUCATION DATASET (Anambra State)</span>
          <span class="date">Nov 2, 2021</span>
        </span>
      </a>

      <a class="img-wap" data-fancybox="pdf" href="pdf/2021 States Education fund.pdf">
        <div class="img" style="background-image: url('images/pdfLogo.png'); background-size: contain;"></div>
        <span class="description">
          <span class="title">2021 States Education Fund Report</span>
          <span class="date">Sept 10, 2021</span>
        </span>
      </a>

      <a class="img-wap" data-fancybox="pdf" href="pdf/2018 Kwara UBEC Projects new.pdf">
        <div class="img" style="background-image: url('images/pdfLogo.png'); background-size: contain;"></div>
        <span class="description">
          <span class="title">2018 Kwara UBEC Projects</span>
          <span class="date">Mar 19, 2021</span>
        </span>
      </a>

      <a class="img-wap" data-fancybox="pdf" href="pdf/2020 States Education Fund Report.pdf">
        <div class="img" style="background-image: url('images/pdfLogo.png'); background-size: contain;"></div>
        <span class="description">
          <span class="title">2020 States Education Fund Report</span>
          <span class="date">Dec 20, 2020</span>
        </span>
      </a>

      <a class="img-wap" data-fancybox="pdf" href="pdf/2020 Access to School Report.pdf">
        <div class="img" style="background-image: url('images/pdfLogo.png'); background-size: contain;"></div>
        <span class="description">
          <span class="title">2020 Access to School Report</span>
          <span class="date">December 20, 2020</span>
        </span>
      </a>

      <a class="img-wap" data-fancybox="pdf" href="pdf/impact of Covid19 on Nigeria Education-1.pdf">
        <div class="img" style="background-image: url('images/pdfLogo.png'); background-size: contain;"></div>
        <span class="description">
          <span class="title">Impact of COVID-19 on Nigeria Education Report</span>
          <span class="date">Oct 14, 2020</span>
        </span>
      </a>

      <a class="img-wap" data-fancybox="pdf" href="pdf/impact of Covid19 on Nigeria Education-1.pdf">
        <div class="img" style="background-image: url('images/pdfLogo.png'); background-size: contain;"></div>
        <span class="description">
          <span class="title">Impact of Covid-19 on Nigeria Education</span>
          <span class="date">Oct 14, 2020</span>
        </span>
      </a>

      <a class="img-wap" data-fancybox="pdf" href="pdf/Unity schools Report-1.pdf">
        <div class="img" style="background-image: url('images/pdfLogo.png'); background-size: contain;"></div>
        <span class="description">
          <span class="title">Unity schools Report</span>
          <span class="date">Sep 3, 2020</span>
        </span>
      </a>

      <a class="img-wap" data-fancybox="pdf" href="pdf/Ikorodu Lagos-min.pdf">
        <div class="img" style="background-image: url('images/pdfLogo.png'); background-size: contain;"></div>
        <span class="description">
          <span class="title">Lagos State - Ikorodu LGA </span>
          <span class="date">Sep 3, 2020</span>
        </span>
      </a>

      <a class="img-wap" data-fancybox="pdf" href="pdf/UBEC 2019 Report.pdf">
        <div class="img" style="background-image: url('images/pdfLogo.png'); background-size: contain;"></div>
        <span class="description">
          <span class="title">UBEC 2019 Report</span>
          <span class="date">Jul 15, 2020</span>
        </span>
      </a>

      <a class="img-wap" data-fancybox="pdf" href="pdf/COVID19 PERSONAL DISCOVERY.pdf">
        <div class="img" style="background-image: url('images/pdfLogo.png'); background-size: contain;"></div>
        <span class="description">
          <span class="title">COVID19 PERSONAL DISCOVERY</span>
          <span class="date">May 6, 2020</span>
        </span>
      </a>

      <a class="img-wap" data-fancybox="pdf" href="pdf/2020 EDUCATION BUDGET.pdf">
        <div class="img" style="background-image: url('images/pdfLogo.png'); background-size: contain;"></div>
        <span class="description">
          <span class="title">2020 Proposed Education Budget Report</span>
          <span class="date">Dec 3, 2019</span>
        </span>
      </a>

      <a class="img-wap" data-fancybox="pdf" href="pdf/state Education Fund report-compressed.pdf">
        <div class="img" style="background-image: url('images/pdfLogo.png'); background-size: contain;"></div>
        <span class="description">
          <span class="title">2018 States Education Fund Report</span>
          <span class="date">Dec 15, 2018</span>
        </span>
      </a>

      <a class="img-wap" data-fancybox="pdf" href="pdf/36 States & FCT Local Government Areas.pdf">
        <div class="img" style="background-image: url('images/pdfLogo.png'); background-size: contain;"></div>
        <span class="description">
          <span class="title">36 States & FCT Local Government Areas</span>
          <span class="date">Nov 16, 2018</span>
        </span>
      </a>

      <a class="img-wap" data-fancybox="pdf" href="pdf/UBEC Projects In Budget 2018.pdf">
        <div class="img" style="background-image: url('images/pdfLogo.png'); background-size: contain;"></div>
        <span class="description">
          <span class="title">UBEC Projects In Budget 2018</span>
          <span class="date">Nov 16, 2018</span>
        </span>
      </a>

      <a class="img-wap" data-fancybox="pdf" href="pdf/Ekiti basic education Report-1.pdf">
        <div class="img" style="background-image: url('images/pdfLogo.png'); background-size: contain;"></div>
        <span class="description">
          <span class="title">Ekiti basic education Report</span>
          <span class="date">July 23, 2018</span>
        </span>
      </a>

      <a class="img-wap" data-fancybox="pdf" href="pdf/Roles and Responsibilities of the Departments of Federal Ministry of Education.pdf">
        <div class="img" style="background-image: url('images/pdfLogo.png'); background-size: contain;"></div>
        <span class="description">
          <span class="title">Roles and Responsibilities of the Departments of Federal Ministry of Education</span>
          <span class="date">July 14, 2018</span>
        </span>
      </a>

      <a class="img-wap" data-fancybox="pdf" href="pdf/citizen Education allocation confirmed one.pdf">
        <div class="img" style="background-image: url('images/pdfLogo.png'); background-size: contain;"></div>
        <span class="description">
          <span class="title">2018 Citizen Education Fund Report</span>
          <span class="date">July 6, 2018</span>
        </span>
      </a>

      <a class="img-wap" data-fancybox="pdf" href="pdf/sdg4report.pdf">
        <div class="img" style="background-image: url('images/pdfLogo.png'); background-size: contain;"></div>
        <span class="description">
          <span class="title">SDG4 Report</span>
          <span class="date">July 2, 2018</span>
        </span>
      </a>

      <a class="img-wap" data-fancybox="pdf" href="pdf/Report 2.pdf">
        <div class="img" style="background-image: url('images/pdfLogo.png'); background-size: contain;"></div>
        <span class="description">
          <span class="title">2017 EDUCATION FUND</span>
          <span class="date">January 21, 2018</span>
        </span>
      </a>

      <a class="img-wap" data-fancybox="pdf" href="pdf/2014 UBEC CONSTITUENCY PROJECTS.pdf">
        <div class="img" style="background-image: url('images/pdfLogo.png'); background-size: contain;"></div>
        <span class="description">
          <span class="title">2014 UBEC CONSTITUENCY PROJECTS</span>
          <span class="date">January 16, 2018</span>
        </span>
      </a>

      <a class="img-wap" data-fancybox="pdf" href="pdf/2015 UBEC CONSTITUENCY PROJECTS.pdf">
        <div class="img" style="background-image: url('images/pdfLogo.png'); background-size: contain;"></div>
        <span class="description">
          <span class="title">2015 UBEC CONSTITUENCY PROJECTS</span>
          <span class="date">January 16, 2018</span>
        </span>
      </a>

      <a class="img-wap" data-fancybox="pdf" href="pdf/2013 RECONCILED PROJECTSS.pdf">
        <div class="img" style="background-image: url('images/pdfLogo.png'); background-size: contain;"></div>
        <span class="description">
          <span class="title">2013 RECONCILED PROJECTS</span>
          <span class="date">January 16, 2018</span>
        </span>
      </a>

      <a class="img-wap" data-fancybox="pdf" href="pdf/HESReport [2017 Edition].pdf">
        <div class="img" style="background-image: url('images/pdfLogo.png'); background-size: contain;"></div>
        <span class="description">
          <span class="title">HESReport [2017 Edition]</span>
          <span class="date">December 5, 2017</span>
        </span>
      </a>

      <a class="img-wap" data-fancybox="pdf" href="pdf/Major Capital Project Report 2.pdf">
        <div class="img" style="background-image: url('images/pdfLogo.png'); background-size: contain;"></div>
        <span class="description">
          <span class="title">Major Capital Project Report</span>
          <span class="date">November 28, 2017</span>
        </span>
      </a>

      <a class="img-wap" data-fancybox="pdf" href="pdf/2006 FG Education budget.pdf">
        <div class="img" style="background-image: url('images/pdfLogo.png'); background-size: contain;"></div>
        <span class="description">
          <span class="title">2017 FG Education budget</span>
          <span class="date">November 28, 2017</span>
        </span>
      </a>

      <a class="img-wap" data-fancybox="pdf" href="pdf/2016 FG Education Budget.pdf">
        <div class="img" style="background-image: url('images/pdfLogo.png'); background-size: contain;"></div>
        <span class="description">
          <span class="title">2016 FG Education budget</span>
          <span class="date">November 28, 2017</span>
        </span>
      </a>

      <a class="img-wap" data-fancybox="pdf" href="pdf/2015 FG Education Budget.pdf">
        <div class="img" style="background-image: url('images/pdfLogo.png'); background-size: contain;"></div>
        <span class="description">
          <span class="title">2015 FG Education budget</span>
          <span class="date">November 28, 2017</span>
        </span>
      </a>

      <a class="img-wap" data-fancybox="pdf" href="pdf/2014 FG Education Budget.pdf">
        <div class="img" style="background-image: url('images/pdfLogo.png'); background-size: contain;"></div>
        <span class="description">
          <span class="title">2014 FG Education budget</span>
          <span class="date">November 28, 2017</span>
        </span>
      </a>

      <a class="img-wap" data-fancybox="pdf" href="pdf/2013 FG Education Budget.pdf">
        <div class="img" style="background-image: url('images/pdfLogo.png'); background-size: contain;"></div>
        <span class="description">
          <span class="title">2013 FG Education budget</span>
          <span class="date">November 28, 2017</span>
        </span>
      </a>

      <a class="img-wap" data-fancybox="pdf" href="pdf/2012 FG Education Budget.pdf">
        <div class="img" style="background-image: url('images/pdfLogo.png'); background-size: contain;"></div>
        <span class="description">
          <span class="title">2012 FG Education budget</span>
          <span class="date">November 28, 2017</span>
        </span>
      </a>

      <a class="img-wap" data-fancybox="pdf" href="pdf/2011 FG Education budget.pdf">
        <div class="img" style="background-image: url('images/pdfLogo.png'); background-size: contain;"></div>
        <span class="description">
          <span class="title">2011 FG Education budget</span>
          <span class="date">November 28, 2017</span>
        </span>
      </a>

      <a class="img-wap" data-fancybox="pdf" href="pdf/2009 FG Education Budget.pdf">
        <div class="img" style="background-image: url('images/pdfLogo.png'); background-size: contain;"></div>
        <span class="description">
          <span class="title">2009 FG Education budget</span>
          <span class="date">November 28, 2017</span>
        </span>
      </a>

      <a class="img-wap" data-fancybox="pdf" href="pdf/2006 FG Education budget.pdf">
        <div class="img" style="background-image: url('images/pdfLogo.png'); background-size: contain;"></div>
        <span class="description">
          <span class="title">2006 FG Education budget</span>
          <span class="date">November 28, 2017</span>
        </span>
      </a>

      <a class="img-wap" data-fancybox="pdf" href="pdf/Eduplana - Homegrown school feeding programme - Report.pdf">
        <div class="img" style="background-image: url('images/pdfLogo.png'); background-size: contain;"></div>
        <span class="description">
          <span class="title">Homegrown school feeding programme - Report</span>
          <span class="date">November 17, 2017</span>
        </span>
      </a>

      <a class="img-wap" data-fancybox="pdf" href="pdf/2017 proposed education Allocation.pdf">
        <div class="img" style="background-image: url('images/pdfLogo.png'); background-size: contain;"></div>
        <span class="description">
          <span class="title">2017 Proposed Education Allocation</span>
          <span class="date">September 06, 2017</span>
        </span>
      </a>

      <a class="img-wap" data-fancybox="pdf" href="pdf/ASUU.pdf">
        <div class="img" style="background-image: url('images/pdfLogo.png'); background-size: contain;"></div>
        <span class="description">
          <span class="title">ASUU FGN.ASUU-INITIALED-AGREEMENT-JAN.-2009</span>
          <span class="date">September 06, 2017</span>
        </span>
      </a>

      <a class="img-wap" data-fancybox="pdf" href="pdf/FTS RECRUITMENT FOR 2013-2015.pdf">
        <div class="img" style="background-image: url('images/pdfLogo.png'); background-size: contain;"></div>
        <span class="description">
          <span class="title">FTS RECRUITMENT FOR 2013-2015</span>
          <span class="date">September 06, 2017</span>
        </span>
      </a>

      <a class="img-wap" data-fancybox="pdf" href="pdf/Lagos Budget- Education.pdf">
        <div class="img" style="background-image: url('images/pdfLogo.png'); background-size: contain;"></div>
        <div class="description">
          <span class="description">
            <span class="title">Lagos Budget- Education</span>
            <span class="date">September 06, 2017</span>
          </span>
        </div>
      </a>


      <a class="img-wap" data-fancybox="pdf" href="pdf/NASS2017Budget.pdf">
        <div class="img" style="background-image: url('images/pdfLogo.png'); background-size: contain;"></div>
        <span class="description">
          <span class="title">NASS 2017 Budget</span>
          <span class="date">September 06, 2017</span>
        </span>
      </a>

      <a class="img-wap" data-fancybox="pdf" href="pdf/SUMMARY OF FTS RECRUITMENT FROM 2006-2015.pdf">
        <div class="img" style="background-image: url('images/pdfLogo.png'); background-size: contain;"></div>
        <span class="description">
          <span class="title">Summary of FTS Recruitment From 2006-2015</span>
          <span class="date">September 06, 2017</span>
        </span>
      </a>

      <!-- <a
     data-fancybox="gallery"
      href="https://www.youtube.com/watch?v=0ncD2VpW06Y"
    >
      <img
        class="card-img-top img-fluid"
        src="https://img.youtube.com/vi/0ncD2VpW06Y/mqdefault.jpg"
      />
    </a> -->
    </div>
  </div>
</section>

<script>
  $('.img-wap').fancybox({});

  $(document).ready(function(){
	  $("#filter").keyup(function(){
	 
	        // Retrieve the input field text and reset the count to zero
	        var filter = $(this).val()
	 
	        // Loop through the panel-info
	        $(".img-wap").each(function(){
	 
	            // If the list item does not contain the text phrase fade it out
	            if ($(this).text().search(new RegExp(filter, "i")) < 0) {
	                $(this).fadeOut();
	 
	            // Show the list item if the phrase matches and increase the count by 1
	            } else {
	                $(this).show();
	            }
	        });
	 
	    });
	});

</script>
