<section class="home-banner">
  <div class="container">
    <div class="home-banner--wrapper">
      <div class="home-banner--info-section">
        <img
          class="animate__animated animate__pulse animate__slower animate__infinite"
          src="images/dot3.png"
        />
        <div class="home-banner--info-section-subtitle">Eduplana</div>
        <div class="home-banner--info-section-title">
          Centre for Education Plan
        </div>
        <div class="home-banner--info-section-caption">
          Promoting Accountability and Service delivery in Education.
        </div>
        <a target="_blank" href="https://rave.flutterwave.com/pay/eduplanadataandtechnologyconceptna81" class="button">Donate</a>
      </div>
      <div class="home-banner--image-section">
        <div class="img-frame first" style="background-image: url('images/boy.jpg');"></div>
        <div class="img-frame second" style="background-image: url('images/girl.jpg');"></div>
      </div>
    </div>
  </div>
</section>

<section class="welcome">
  <div class="container">
    <div class="title" style="margin-bottom: 2rem;">Welcome to <span class="brand-color">Eduplana</span></div>
    <div class="content-wrap">
      Eduplana is a civic tech organization that uses data to advocate for quality education in Nigeria. We believe every citizen should have equal access to quality education with no bias on their location or status in Nigeria.
    </div>
  </div>
</section>

<section class="our-services">
  <div class="container">
    <div class="sub-title">Take Up Remote Internships</div>
    <div class="title">See How It Works</div>
    <div class="card-wrap">
      <div class="card">
        <a ui-sref="see-how-it-works">
          <div class="icon"><i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
          <div class="card-title">Education Fund</div>
          <div class="caption">Tracking the allocation and accountability of public funds in the education sector.</div>
        </a>
        
      </div>
      <div class="card">
        <a ui-sref="see-how-it-works">
          <div class="icon"><i class="fa fa-book" aria-hidden="true"></i></div>
          <div class="card-title">Schools Management</div>
          <div class="caption">Monitor the status and quality of learning facilities in Nigeria.</div>
        </a>
      </div>
      <div class="card">
        <a ui-sref="see-how-it-works">
          <div class="icon"><i class="fa fa-bar-chart" aria-hidden="true"></i></div>
          <div class="card-title">Learning Assessment
          </div>
          <div class="caption">
            Assessing students learning outcomes to become productive members of the society.
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="event">
	<div class="container">
		<div class="event-wrap">
            <div class="image">
				<img src="images/mission.svg" alt="">
			</div>
			<div class="content">
				<div class="title">
					Our Goal
				</div>
				<div class="text">Our goal is to improve accountability and transparency in Nigeria’s education sector by encouraging both the federal government and state governments to develop an education plan that enables them to invest and improve education quality for their citizens.</div>
			</div>
		</div>
	</div>
</section>

<div class="container">
  <section class="video-wrap">
    <div class="banner">
      <iframe src="https://www.youtube.com/embed/5FjEu66YVoA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
    </div>
  </section>
</div>

<section class="partnerships">
  <div class="banner" style="background-image: url('images/children.jpeg');">
    <div class="overlay">
      <div class="caption">Want to join with us?</div>
      <div class="content">Become a proud volunteer</div>
      <div class="more-content">
        Our team really needs volunteers. 
        Those who are willing and have the passion for education. 
        If you are young, active and ready to change the world for the better, 
        we look forward to you joining us.
      </div>
      <a href="mailto:info@eduplana.com" class="button">Email Us</a>
    </div>
  </div>
</section>













































