<br><br><br>
<section class="gallery-wrap">
  <div class="container">
    <div class="gallery">
      <a class="img-wap" data-fancybox="gallery" data-caption="Eduplana pilots the SPICE Program to stregthen basic education governace in underserved communities" href="infographics/press.jpeg">
        <div class="img" style="background-image: url('infographics/press.jpeg')"></div>
      </a>

      <a class="img-wap" data-fancybox="gallery" data-caption="SPICE" href="infographics/spice.jpeg">
        <div class="img" style="background-image: url('infographics/spice.jpeg')"></div>
      </a>
      <a class="img-wap" data-fancybox="gallery" data-caption="State Of Basic Education - Anambra State" href="infographics/state of basic education - anambra state.jpg">
        <div class="img" style="background-image: url('infographics/state of basic education - anambra state.jpg')"></div>
      </a>

      <a class="img-wap" data-fancybox="gallery" data-caption="2018 Citizens Education Fund Summary" href="infographics/2018 Citizens Education Fund Summary.jpg">
        <div class="img" style="background-image: url('infographics/2018 Citizens Education Fund Summary.jpg')"></div>
      </a>

      <a class="img-wap" data-fancybox="gallery" data-caption="2018 JAN - FEB WASSCE DIET" href="infographics/2018 JAN - FEB WASSCE DIET.jpg">
        <div class="img" style="background-image: url('infographics/2018 JAN - FEB WASSCE DIET.jpg')"></div>
      </a>

      <a class="img-wap" data-fancybox="gallery" data-caption="2018 Joint Action Committee Strike" href="infographics/2018 Joint Action Committee Strike.png">
        <div class="img" style="background-image: url('infographics/2018 Joint Action Committee Strike.png')"></div>
      </a>

      <a class="img-wap" data-fancybox="gallery" data-caption="2018 Proposed Education Allocation Summary" href="infographics/2018 Proposed Education Allocation Summary.png">
        <div class="img" style="background-image: url('infographics/2018 Proposed Education Allocation Summary.png')"></div>
      </a>

      <a class="img-wap" data-fancybox="gallery" data-caption="2018 UNESCO Allocation (Nigeria)" href="infographics/2018 UNESCO Allocation (Nigeria).png">
        <div class="img" style="background-image: url('infographics/2018 UNESCO Allocation (Nigeria).png')"></div>
      </a>

      <a class="img-wap" data-fancybox="gallery" data-caption="Comprehensive Reform of Higher Education" href="infographics/Comprehensive Reform of Higher Education.png">
        <div class="img" style="background-image: url('infographics/Comprehensive Reform of Higher Education.png')"></div>
      </a>

      <a class="img-wap" data-fancybox="gallery" data-caption="Education Budgetary Allocations (1999 - 2013)" href="infographics/Education Budgetary Allocations (1999 - 2013).jpg">
        <div class="img" style="background-image: url('infographics/Education Budgetary Allocations (1999 - 2013).jpg')"></div>
      </a>

      <a class="img-wap" data-fancybox="gallery" data-caption="Education Spending & Population Growth" href="infographics/Education Spending & Population Growth.png">
        <div class="img" style="background-image: url('infographics/Education Spending & Population Growth.png')"></div>
      </a>

      <a class="img-wap" data-fancybox="gallery" data-caption="Ekiti Basic Education Indicators" href="infographics/Ekiti Basic Education Indicators.jpg">
        <div class="img" style="background-image: url('infographics/Ekiti Basic Education Indicators.jpg')"></div>
      </a>

      <a class="img-wap" data-fancybox="gallery" data-caption="FG Educaton and Security (2014 - 2018)" href="infographics/FG Educaton and Security (2014 - 2018).png">
        <div class="img" style="background-image: url('infographics/FG Educaton and Security (2014 - 2018).png')"></div>
      </a>

      <a class="img-wap" data-fancybox="gallery" data-caption="Populous Nations by 2050" href="infographics/Populous Nations by 2050.png">
        <div class="img" style="background-image: url('infographics/Populous Nations by 2050.png')"></div>
      </a>

      <a class="img-wap" data-fancybox="gallery" data-caption="SDG 4.b.1 & 4c" href="infographics/SDG 4.b.1 & 4c.PNG">
        <div class="img" style="background-image: url('infographics/SDG 4.b.1 & 4c.PNG')"></div>
      </a>

      <a class="img-wap" data-fancybox="gallery" data-caption="Top Education Funding Percentage(Military & Democratic Rule)" href="infographics/Top Education Funding Percentage(Military & Democratic Rule).png">
        <div class="img" style="background-image: url('infographics/Top Education Funding Percentage(Military & Democratic Rule).png')"></div>
      </a>

      <a class="img-wap" data-fancybox="gallery" data-caption="Uni of Ibadan Allocation Breakdown" href="infographics/Uni of Ibadan Allocation Breakdown.jpg">
        <div class="img" style="background-image: url('infographics/Uni of Ibadan Allocation Breakdown.jpg')"></div>
      </a>

      <a class="img-wap" data-fancybox="gallery" data-caption="University Corruption Survey" href="infographics/University Corruption Survey.jpg">
        <div class="img" style="background-image: url('infographics/University Corruption Survey.jpg')"></div>
      </a>

      <a class="img-wap" data-fancybox="gallery" data-caption="2017 Education Budget - Federal Agencies" href="infographics/_1.png">
        <div class="img" style="background-image: url('infographics/_1.png')"></div>
      </a>

      <a class="img-wap" data-fancybox="gallery" data-caption="University Allocation (2013 - 2017) - FUNAAB" href="infographics/_2.png">
        <div class="img" style="background-image: url('infographics/_2.png')"></div>
      </a>

      <a class="img-wap" data-fancybox="gallery" data-caption="2017 National Assembly And Federal University Allocation" href="infographics/_3.png">
        <div class="img" style="background-image: url('infographics/_3.png')"></div>
      </a>

      <a class="img-wap" data-fancybox="gallery" data-caption="Ongoing LAUTECH Strike" href="infographics/_4.jpg">
        <div class="img" style="background-image: url('infographics/_4.jpg')"></div>
      </a>

      <a class="img-wap" data-fancybox="gallery" data-caption="2017 Education Budget(Quick Notes)" href="infographics/4.jpeg">
        <div class="img" style="background-image: url('infographics/4.jpeg')"></div>
      </a>

      <a class="img-wap" data-fancybox="gallery" data-caption="2017 Education Budget(Federal Agencies)" href="infographics/5.jpeg">
        <div class="img" style="background-image: url('infographics/5.jpeg')"></div>
      </a>

      <a class="img-wap" data-fancybox="gallery" data-caption="Lagos State 2016 Education Allocation" href="infographics/7.jpg">
        <div class="img" style="background-image: url('infographics/7.jpg')"></div>
      </a>

      <a class="img-wap" data-fancybox="gallery" data-caption="2017 Proposed Education Allocation" href="infographics/8.jpg">
        <div class="img" style="background-image: url('infographics/8.jpg')"></div>
      </a>

      <a class="img-wap" data-fancybox="gallery" data-caption="Revitalization Fund of University System" href="infographics/9.jpeg">
        <div class="img" style="background-image: url('infographics/9.jpeg')"></div>
      </a>

      <a class="img-wap" data-fancybox="gallery" data-caption="2017 Proposed Education Allocation" href="infographics/info1.jpg">
        <div class="img" style="background-image: url('infographics/info1.jpg')"></div>
      </a>

      <a class="img-wap" data-fancybox="gallery" data-caption="Allocation Percentage" href="infographics/info3.jpg">
        <div class="img" style="background-image: url('infographics/info3.jpg')"></div>
      </a>

      <a class="img-wap" data-fancybox="gallery" data-caption="EFCC investigation of Prof. Daramola" href="infographics/info4.jpg">
        <div class="img" style="background-image: url('infographics/info4.jpg')"></div>
      </a>

      <a class="img-wap" data-fancybox="gallery" data-caption="Federal Science and Technology College Total Allocation" href="infographics/info5.jpg">
        <div class="img" style="background-image: url('infographics/info5.jpg')"></div>
      </a>

      <a class="img-wap" data-fancybox="gallery" data-caption="West African States Allocation" href="infographics/info6.jpg">
        <div class="img" style="background-image: url('infographics/info6.jpg')"></div>
      </a>

      <a class="img-wap" data-fancybox="gallery" data-caption="State Education Allocation" href="infographics/info7.jpg">
        <div class="img" style="background-image: url('infographics/info7.jpg')"></div>
      </a>

      <a class="img-wap" data-fancybox="gallery" data-caption="Federal Education Agencies Allocation" href="infographics/info10.jpg">
        <div class="img" style="background-image: url('infographics/info10.jpg')"></div>
      </a>

      <a class="img-wap" data-fancybox="gallery" data-caption="Federal Polytechnics Proposed Allocation" href="infographics/info11.jpg">
        <div class="img" style="background-image: url('infographics/info11.jpg')"></div>
      </a>

      <a class="img-wap" data-fancybox="gallery" data-caption="Education Agencies Capital Spending" href="infographics/info9.jpg">
        <div class="img" style="background-image: url('infographics/info9.jpg')"></div>
      </a>

      <a class="img-wap" data-fancybox="gallery" data-caption="Federal Technical Colleges Total Allocation" href="infographics/info13.jpg">
        <div class="img" style="background-image: url('infographics/info13.jpg')"></div>
      </a>

      <a class="img-wap" data-fancybox="gallery" data-caption="States Education Allocation" href="infographics/info14.jpg">
        <div class="img" style="background-image: url('infographics/info14.jpg')"></div>
      </a>

      <a class="img-wap" data-fancybox="gallery" data-caption="States Allocation" href="infographics/info15.jpg">
        <div class="img" style="background-image: url('infographics/info15.jpg')"></div>
      </a>

      <a class="img-wap" data-fancybox="gallery" data-caption="2017 Proposed Education Allocation" href="infographics/10.jpg">
        <div class="img" style="background-image: url('infographics/10.jpg')"></div>
      </a>

      <a class="img-wap" data-fancybox="gallery" data-caption="2016 TETFUND Intervention" href="infographics/3.jpeg">
        <div class="img" style="background-image: url('infographics/3.jpeg')"></div>
      </a>


      <!-- <a
      data-fancybox="gallery"
      href="https://www.youtube.com/watch?v=0ncD2VpW06Y"
    >
      <img
        class="card-img-top img-fluid"
        src="https://img.youtube.com/vi/0ncD2VpW06Y/mqdefault.jpg"
      />
    </a> -->
    </div>
  </div>
</section>

<script>
  $('[data-fancybox="gallery"]').fancybox({});
</script>
