<section class="page-banner"
         style="background-image: url('https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?q=80&w=3540&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); background-position: bottom;">
  <div class="title">Our Services</div>
</section>

<div class="container">
    <section class="our-services">
  <span class="sub-title">What We Offer</span>
  <h2 class="title">Our Services</h2>
  <p class="caption">
    Eduplana Services is a training and consulting services agency that engages organizations to provide engaging
    infographics, exciting reports, expert training and capacity building sessions to enhance their growth and
    performance metrics.
  </p>
  <div class="card-wrap">

    <div class="card">
      <div class="icon"><i class="fa fa-bar-chart"></i></div>
      <h3 class="card-title">Survey &amp; Data Analysis</h3>
      <p class="caption">
        Through data wrangling, data validation, and data contextualization, we project outstanding insights from
        structured and unstructured data. We make predictions based on data while also considering data integrity.
      </p>
    </div>

    <div class="card">
      <div class="icon"><i class="fa fa-graduation-cap"></i></div>
      <h3 class="card-title">Training &amp; Capacity Building</h3>
      <p class="caption">
        We provide expert, world-class training and capacity building for organizations and their staff on
        Storytelling with Data, Marketing and Communications, Project Management, Finance and Accounting.
      </p>
    </div>

    <div class="card">
      <div class="icon"><i class="fa fa-line-chart"></i></div>
      <h3 class="card-title">Storytelling With Data</h3>
      <p class="caption">
        An engaging and appealing method of telling data stories using infographics, document design, and explainer
        videos.
      </p>
    </div>

    <div class="card">
      <div class="icon"><i class="fa fa-code"></i></div>
      <h3 class="card-title">Website &amp; Mobile App Development</h3>
      <p class="caption">
        We deliver world-class web design and development that prioritizes an engaging user experience across web and
        mobile platforms.
      </p>
    </div>

  </div>
</section>
</div>