

<section class="school-compare">
  <div class="container">
    <h2 class="title">School Enrolment Campaign</h2>
    <div class="compare-wrap">
      <div class="compare-item">
        <div class="image">
          <img src="images/a.jpeg" alt="Our Philosophy">
        </div>
        <div class="text">
          <h3>Our Philosophy</h3>
          <p>At Meadowlands Schools, we develop a learning approach that equips students to become tech leaders in the next decade.</p>
        </div>
      </div>
      <div class="compare-item ">
        <div class="image">
          <img src="images/b.jpeg" alt="Evidence-Based Learning">
        </div>
        <div class="text">
          <h3>Evidence-Based Learning</h3>
          <p>We adopted school activities that will enable students become effective tech leaders in the next decade. We have developed our school facilities for this purpose which has shown great impact on our student development.</p>
        </div>
      </div>
      <div class="compare-item">
        <div class="image">
          <img src="images/c.jpeg" alt="Hands-On Laboratory Practice">
        </div>
        <div class="text">
          <h3>From practice in the laboratory</h3>
          <p>At Meadowlands School, we ensure students are developing practical skill-sets to ensure they can apply various tech skills in their chosen career. </p>
        </div>
      </div>
      <div class="compare-item ">
        <div class="image">
          <img src="images/d.jpeg" alt="Active Steps Toward Excellence">
        </div>
        <div class="text">
          <h3>Active Steps</h3>
          <p>At Meadowlands, we focus on the vision and implement them effectively with excellence. To equip tech-leaders, we set a mission and have now developed the following to ensure our students stay ahead. </p>
        </div>
      </div>
      <div class="compare-item">
        <div class="image">
          <img src="images/e.jpeg" alt="Fulfill the Vision">
        </div>
        <div class="text">
          <h3>Fulfill the Vision</h3>
          <p>The time to set your child on the right path is still available, take the right step today and get them to start developing their practical skill set for a successful career ahead.</p>
        </div>
      </div>
     
    </div>
  </div>
</section>